# create the .gitignore file (which should be put in the project directory)
# files that shouldn't be tracked
# macOS files
*.DS_Store
# data and figures
*.mat
*.pdf
*.png
# latex auxiliary files
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.toc
*.mp4
